:root {
  --var-gray-bg: rgb(68, 68, 68);
  --color-background: black;
}

.radix-themes {
  background-color: #1f1f1f;
}

.button,
.cursor {
  &:hover {
    cursor: pointer;
  }
}

.fadeIn {
  animation: fadeInBelow 5s ease forwards;
}

.txt-invert {
  color: white;
}

.txt-primary {
  color: black;
}

.txt-italic {
  font-style: italic;
}

// To handle the fade-in animations
html,
body {
  overflow-x: hidden;
}

.nav-correct {
  margin-top: 8rem;
}

h1.rt-Heading {
  font-family: "Imbue", serif;
  // font-weight: 700;
  font-style: normal;
}

.rt-Heading,
.rt-Text {
  font-family: "Imbue", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
}
